'context-menu':
  'atom-text-editor': [
    {
      'label': 'Edit with bang'
      'command': 'bang:edit-text'
    }
    {
      'label': 'Run a bang'
      'command': 'bang:run-a-command'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Bang'
      'submenu': [
        {
          'label': 'Edit with bang'
          'command': 'bang:edit-text'
        }
        {
          'label': 'Run a bang'
          'command': 'bang:run-a-command'
        }
      ]
    ]
  }
]
